
@import  "text-align: "


* {
	box-sizing: border-box;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;

}
header {
	background-image: url("img/banner.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 30px;
}

.nav-link {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: white;

}
.nav-item {
	padding-left: 80px;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: white;
}


.Discover {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	padding-top: 200px;
	color: #FFFFFF;
}

.container {
	width: 1082px;
}
.Jump {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	padding-top: 25px;
	color: #FFFFFF;
}

/*body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    }*/

    .custom-control-label {
    	color: white;
    }

    @media only screen and (min-width: 	1000px){
    	.navbar {
    		width: 1082px;
    	}
    }
    .custom-control {
    	border: 1px solid white;
    	border-top: none;
    	border-left: none;
    	border-right: none;
    	font-size: 18px;
    	padding-right: 40px;
    	margin-right: 80px;
    }
    .btn-primary{
    	font-size: 24px;
    	width: 170px;
    	border-radius: 0px;
    }
    .a {
    	padding-top: 60px;
    }
    .Benefits {
/*	width: 1262px;
height: 223px;*/
background-color: white;
font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
padding: 90px;
padding-left: 105px;
}

.b {
	margin-top: 170px;
	width: 1262px;
	height: 655px;
	background-color: white;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.container-fluid2 {
	width: 1262px;
	height: 432px;
	display: flex;
	align-items: center;
}
.card-img-top {
	height: 60px;
	width: 60px;
}
.card3 {
	padding-left: 0px;
	padding-right: 0px;
	border: white;
	margin-top: 70px;
}
.card-body1{
	width: 317px;
	padding-left: 0px;
	padding-right: 0px;
}
/*.row {
	border: 1px solid black;
}
*/
.learn {
	padding-right: 20px;
}
.btn-primary2{
	color: blue;
}
.container-fluid3 {
	padding-top: 100px;
	width: 1262px;
}
.get {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	/* identical to box height */

	color: #102746;
}
.viewall {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-align: right;
	color: #006DFE;
}
.gachchan{
	border: 2px solid #006DFE;
	margin-left: 15px;
	border-color: blue;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
/*.btn {
	padding: 6px;
	}*/
	img {
		width: 100%;
	}

	.card4 {
		padding: 12px;
		border: 0px;
		padding-top: 100px;
	}

	.Prefecture {
		font-family: Lato;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 40px;
		/* identical to box height, or 133% */

		color: #102746;
	}
	.balcony {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */

		color: #102746;
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.card-img21 {
		width: 600px;
	}
	.card-body2 {
		padding-top: 30px;
		padding-left: 60px;
		padding-right: 40px;
	}

	.card5 {
		padding: 12px;
		border: 0px;
	}

	.card-img22 {
		width: 100%;
		/*margin-left: 30px;*/
	}

	.row1 {
		padding-top: 100px;
	}
	.card-text3 {
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */

		color: #102746;
	}
	.c {
		margin-top: 40px;
		border: 0px;
		padding-bottom: 50px;
	}

	.btn-primary3 {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		/*line-height: 19px;*/

		color: #FFFFFF;
		width: 118px;
		height: 42px;
	}
	.card-body3 {
		padding-left: 0px;
	}

	.nenchinh {
		position: relative;
	}
	.nen3 {
		color: white;
		position: absolute;
		bottom: 0px;
		background: rgba(21, 24, 36, 0.6);
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
	}
	#cm {
		position: absolute;
		right: 20px;
	}
	pre	{
		color: white;
		font-family: Lato;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */

		color: #FFFFFF;
		padding-right: 30px;
		padding-left: 30px;

	}
	.NAGOYA {

		font-family: Lato;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		color: #FFFFFF;
	}
	

	.footer {
		height: 370px;
		background: #0E1D28;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logof {
		width: 170px;
	}
	.df {
		width: 1082px;

	}
	.linkss {
		padding-left: 60px;
		padding-bottom: 10px;
	}
	.links2 {
		color: white;
	}
	.an {
		display: none;
	}
	.kemobile {
		border: 2px solid black;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		display: none;
		width: 100%;
		height: 5px;
	}
	@media only screen and (max-width: 500px){
		header {
			padding-top: 3px;
			position: relative;
		}
		.navbar {
			padding-bottom: 0px;
			padding-top: 0px;
		}
		.containernav {
			width: 100%;
		}
		.Jump {
			display:none;
		}
		.an {
			padding-top: 5px;
			color: white;
			width: 100%;
			padding-top: 2px;
			font-size: 10px;
			line-height: 15px;
			display: block;
		}
		.Discover {
			color: white;
			font-size: 17px;
			padding-top: 5px;
			line-height: 20px;
		}
		.custom-control-label {
			color: blue;
			font-size: 12px;
			color: white;
		}
		.a {
			padding-top: 5px;
			display: flex;
		}
		.custom-control{
			margin: 0px;
			padding-right: 0px;
		}
		.custom-control-label::before {
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			pointer-events: none;
			content: "";
			background-color: #fff;
			border: #adb5bd solid 1px;
		}
		.custom-control-label::after {
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			content: "";
			background: no-repeat 50%/50% 50%;
		}
		.btn-primary {
			font-size: 10px;
			width: 70px;
			margin-left: 10px;
		}
		.custom-control {
			border: 0px;
		}
		.b {
			margin-top: 0px;
			height: 600px;
		}

		.Benefits {
			background-color: white;
			font-family: Lato;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 42px;
			padding: 0px;
			padding-left: 10px;
		}
		.card-body1 {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
		}
		.card3{
			widows: 100%;
			margin-top: 10px;
			border: 1px solid rgba(0,0,0,.125);
		}
		.card-body1{
			padding: 10px;
			font-size: 10px;
			padding-bottom: 5px;
		}

		.moblie {
			display: flex;
			justify-content: center;
		}
		.card-img-top {
			padding: 12px;
		}
		.card-title {
			font-size: 15px;
		}
		.card-text {
			margin-bottom: 2px;
		}
		.container1 {
			display: flex;
			justify-content: center;
		}

		.container-fluid3 {
			width: 100%;
			padding-top: 10px;
			padding-right: 15px;
			padding-left: 15px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.get {
			font-family: Lato;
			font-style: normal;
			font-size: 24px;
			line-height: 20px;
			color: #102746;
			width: 100%;
		}
		.gachchan {
			display: none;
		}
		.btn-primary2 {
			padding-top: 0px;
			padding: 0px;
		}

		.kemobile {
			border: 1px solid black;
			border-left: 0px;
			border-right: 0px;
			display: block;
		}

		.card4 {
			margin-top: 20px;
			border: 1px solid black;
			padding-top: 12px;
		}
		.card-body2{
			padding: 10px;
			padding-top: 5px;
		}
		.Prefecture {
			line-height: 20px;
		}
		.balcony {
			line-height: 24px;
			color: #102746;
			padding-top: 0px;
			padding-bottom: 10px;
		}
		.card5 {
			margin-top: 20px;
			border: 1px solid black;
			padding-top: 12px;
		}
		.Prefecture {
			font-weight: bold;
		}

		.row1{
			margin-top: 20px;
			padding-top: 0px;
		}

		.today {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.c {
			margin-top: 20px;
			border: 0px;
			margin-bottom: 50px;
			padding: 0px;
			width: 100%;
		}
		.card-body3 {
			padding: 0px;
		}
		.card-text3{
			padding: 0px;
			padding-top: 5px;
			margin-bottom: 3px;
			font-size: 14px;
		}
		.btn-primary3 {
			width: 50%;
			height: 100%;
		}
		.see {
			font-size: 13px;
		}
		.df {
			display: flex;
			justify-content: center;

		}
		.footer {
			height: 100%;
		}
		.footerm {
			display: flex;
			justify-content: center;
		}
		.footerl {
			display: flex;
			justify-content: flex-start;
		}
		.linkss {
			width: 50%;
			padding: 5px;
		}
		.logof1{
			padding: 15px;
			width: 100%;
			padding-top: 30px;
		}




		.container{
			width: 100%;
		}
		.container-fluid{
			width: 100%;
		}

		.row {
			width: 100%;
		}
		.card-img21 {
			width: 100%;
		}

	}









@media only screen and (max-width: 900px) {
	body {
		background-color: black;
	}
	nav {
		width: 100%;
	}
	.navbar-brand {
		width: 20%;
	}
	.navbar-toggler {
		border-color: white;
/*		width: 100px;
		display: flex;
		justify-content: center;*/
	}
	.hot {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		position: relative;
    top: -20px;
    right: 0px;
}
	}
	.menu {
    position: relative;
    top: -20px;
    left: 0px;
	}
	.logo {
		width: 150px;
	}
	.nendnk {
		margin: auto;
	}
	.hotline {
		width: 100%;
		margin: auto;
		margin-bottom: 10px;
	}
}


