	li > a {
		color: blue;
	}

	li {
		background-color: green;
		opacity: 0.5;
	}

	/*p:first-letter {
	*//*color: blue;
	background-color: rgba(255,0,0,0.5);*/
	/*font-family: 'thu-phap';*/
	/*font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	line-height: 30px;
	letter-spacing: 10px
	word-spacing:5px;
	text-align: right;*/
	/*text-indent: 20px;
	text-shadow: 1px 1px 1px black;
	}*/
	img {
		vertical-align: text-top;
		width: 500px;
		/*float: right;*/
	}
	div {
		text-align: center;
	}
	@font-face {
		font-family: 'thu-phap';
		src: url('UTM ThuPhap Thien An.ttf');
	}
	a:link {
		color: black;
	}
	a:visited {
		color: hotpink;
	}
	a:hover {
		color: yellow;
	}
	a:focus {
		color: gray;
	}
	a:active {
		color: green;
	}
	body {
		background-image: url(winter.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background: rgb(2,0,36);
		background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 34%, rgba(106,0,255,0.28084737312893904) 100%);
