div {
	text-align: center;
}
img {
	width: 300px;
}
body {
	background-color: yellow;
	font-size: 18px;
	font-family:'UTM';
	src: url('font/UTM Helve.ttf');
}
@font-face {
	font-family:'UTM';
	src: url('font/UTM Helve.ttf');
}
