@import 'header.css';
@import 'footer.css';
@import "trangchu.css";
@import "gioithieu.css";
@import "doitac.css";
@import "lienhe.css";
@import "hoatdong.css";
@import "sanpham.css";
@import "style.css";
@import "quenmatkhau.css";


body {
	background-image: url("../../Assets/img/ANH NENc.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
}
@keyframes change {
0% {transform: scale(1, 1)}
30% {transform: scale(1.3, 1.3)}
100% {transform: scale(1, 1)}
}
.imgsanpham:hover {
	animation-name: change;
	animation-duration: 2s;
}
/*.icon:hover{
	animation-name: changefb;
}

@keyframes changefb {
	.icon{
		display: none;
	}
}*/
.nentc5:hover {
	background-color: #008593;
	/*animation-name: changemenu;
	animation-duration: 0.2s;
	animation-fill-mode: forwards*/
}