
* {
	box-sizing: border-box;
}
/*body {
	background-image: url(backgroundpng2.png);
	background-position: top;
  	background-repeat: no-repeat;
  	background-size: 100%;
  	background-color: #dba7a726;
}*/
/*.form0 {
	display: grid;
	justify-content: center;
	grid-template-areas:
	grid-template-rows:  20% 20% 20% 20% 20%;
	grid-template-columns: 50% 20% 10% 20%;
	grid-template-areas:
	"a1 a2 a3 a4"
	"b1 b2 . b4"
	"c1 c2 c2 c2"
	"d1 d2 d2 d4"
	"e1 e2 e2 e4"
}*/
/*fieldset{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}*/

.chuhtpdk {
	color: white;
	font-size: 	16px;
	margin-bottom: 0px;
}

 .input {
 	width: 100%;
 }

.first {
	border-color:#0dc951;
}

.last {
	border-color:#0dc951;
}

.user {

	border-color:#0dc951;
}
 .pass {
 	border-color:#0dc951;
 }
  .cfirm {
  	border-color:#0dc951;
  }
.chuthich {
	padding-top: 5px;
	font-size:10px;
	color: white;
}

span {
	display: none;
	font-size: 10px;
	color: red;
}

.create {
	width: 	700px;
	font-size: 	70px;
	position: 	absolute;
	top: 	50px;
	left: 	100px;
	color: 	red;
}
.dangkyaa{
	padding-bottom: 15px;
}