
* {
	box-sizing: border-box;
}

.chuhtpdk {
	color: black;
	font-size: 	16px;
	margin-bottom: 0px;
}

 .input {
 	width: 100%;
 }

.first {
	border-color:#0dc951;
}

.last {
	border-color:#0dc951;
}

.user {

	border-color:#0dc951;
}
 .pass {
 	border-color:#0dc951;
 }
  .cfirm {
  	border-color:#0dc951;
  }
.chuthich {
	padding-top: 5px;
	font-size:10px;
	color: black;
}

span {
	display: none;
	font-size: 10px;
	color: red;
}
.nutguilh1{
	margin-left: 15px;
}
.create {
	width: 	700px;
	font-size: 	70px;
	position: 	absolute;
	top: 	50px;
	left: 	100px;
	color: 	red;
}
.dangkyaa{
	padding-bottom: 15px;
}
.bddangky {
	margin-bottom: 20px;
}