
.nentc5 {
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}
.nentc5 {
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	text-align: center;
	}
a {
    text-decoration: none;
}
.chutc5 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
padding-top: 20px;
}
.icontc5 {
	height: 80px;
}

.tc5 {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
}

.tc5d {
	padding-top: 50px;
	padding-bottom: 80px;
}


@media only screen and (max-width: 811px) {
	body {
		background-color: black;
	}
	.tc5 {
		    display: block;
	}
	.nentc5 {
	border: 1px solid white;
	}
	.pdmb {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.tc5d {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.tc5 {
		padding-top: 20px;
	}

}


@media only screen and (width: 1024px){
	.nentc5 {
		width: 220px;
    height: 220px;
	}
}

@media only screen and (width: 812px){
	.nentc5 {
		width: 170px;
    height: 170px;
	}

	.pdmb{
		width: 170px;
	}
	.icontc5{
		height: 50px;
	}
	.chutc5 {
		font-size: 14px;
	}
	.tc5 {
    padding-top: 30px;
	}
	.tc5d {
    padding-top: 20px;
    padding-bottom: 30px;
	}
}

